# SQL Arithmetic Operators

## Operators

Operators are specific words or characters that help you to perform different activities in a database. They're like conjunctions or connection words you'd use to compose a sentence.

## Arithmetic Operators

Arithmetic operators are useful when you want to perform mathematical operations on the data in tables while you retrieve them by writing SQL `SELECT` queries.

Arithmetic operators can be used in the `SELECT` clause as well as in the `WHERE` clause in a SQL SELECT statement. When an operator is used in the `WHERE` clause, itâ€™s intended to perform the operations on specific rows only. This is because the `WHERE` clause in SQL is used to filter out data that a particular SQL statement is working on.

The SQL arithmetic operators are:
- `+`
- `-`
- `*`
- `/`
- `%` : modulus

For example, if you want to add the values of two instances of numerical data from two separate columns in the table, then you need to specify the two columns as the first and second operand. 

The syntax is as follows:

`SELECT column_name1 + column_name2 FROM table_name;`

<img src = "img/arithmeticops.png"
     height= "400px"
width= "720px">

## SQL Comparison operators

Comparison operators are used to compare two values or expressions where the outcome result can be either true or false. 

They can be used to filter data,include and exclude data. 

These comparison operators are:

- `=` - Checks for equality

- `<>`  or `!=` - Checks for not inequality

- `>` - Checks if something is greater than

- `>=` - Checks if something is greater than or equal

- `<` - Checks if something is less than

- `<=` - Checks if something is less than or equal

## Sorting and Filtering Data

## `ORDER BY` clause

The `ORDER BY` clause is an optional clause that can be added to a `SELECT` statement, its purpose is to help sort data in ***either ascending or descending order.*** 

For example, you can sort list of student names in an alphabetical order from A to Z or vice versa.

#### Syntax:

#### Ordering a single column

`SELECT column_name
FROM table_name
ORDER BY column_name ASC or DESC;`

#### Ordering multiple columns

`SELECT column_name1,column_name2 or SELECT * (selects all columns)
FROM table_name
ORDER BY column_name1 ASC, column_name2 DESC;`

- It begins with a `SELECT` statement, then ***a list of the columns to be sorted*** with each one separated by comma, 
- next is a `FROM` keyword, followed by ***the name of the table to be sorted***, 
- finally, the `ORDER BY` clause is added, followed by the ***name of the column to be sorted***. 
- At the end of the column name, you state how you want the data to be sorted.

NB : `ASC` means ascending and `DESC` descending

## `WHERE` clause

The `WHERE` clause is used to filter data, more specifically, it is used to filter and extract records that satisfy specified a condition.

Syntax:

`SELECT column_name1,column_name2
FROM table_name
WHERE condition;`

NB: The condition makes it possible to filter out and fetch the required records from the table. You can think of the conditions as filter criteria, only the records that meet the condition will be retrieved.

Examples:

- `WHERE student_id = 01;`
- `WHERE first_name = 'Selorm';`

The WHERE clause can also use the `BETWEEN`, `LIKE` and `IN` operators.

- `BETWEEN` : filters records within a specific numeric or time and date range. 
- `LIKE` : used to specify a pattern within the search criteria.
- `IN` : used to specify multiple possible values for a column.

Examples:

- `SELECT *
FROM table_name
WHERE date_of_birth BETWEEN 2010-01-01 AND 2010-06-30;`

- `SELECT *
FROM table_name
WHERE faculty LIKE 'Sc%';`

The percentage character in the pattern is a wild card character that represents multiple characters.
This filters out the records whose faculty column has a value starting with the pattern ***Sc***.

- `SELECT *
FROM table_name
WHERE country IN('USA','UK');`

## `SELECT DISTINCT` clause

This command returns only distinct or different values. In other words, it returns the results without any duplicates.

Syntax:

`SELECT DISTINCT column_name
FROM table_name`